<template name="hipaaFooter">
  <div id="hipaaFooter" class="bar bar-footer bar-balanced header-nav nav-bar-transition-ios nav-bar-direction-forward" data-navbar-container="">
    <input type="date" id="beginDateInput" class="dateInput" value="{{getBeginDate}}">
    <input type="date" id="endDateInput" class="dateInput" value="{{getEndDate}}">

    <div id="filterButtons">
      <button id="filterCreatedButton" type="button">Created</button>
      <button id="filterModifiedButton" type="button">Modified</button>
      <button id="filterViewedButton" type="button">Viewed</button>
      <button id="filterAllButton" type="button">All</button>
    </div>
  </div>
</template>
