  <template name="hipaaHeader">
    <header id="hipaaHeader">
      <div class="bar bar-header bar-balanced header-nav nav-bar-block nav-bar-transition-ios nav-bar-direction-forward" data-navbar-container="">
        <button class="button button-clear pull-left button-entering button-active" data-ion-menu-toggle="left"><i class="icon ion-navicon"></i></button>
        <h1 id="hipaaLogTitle" class="title title-entering title-center title-active" style="left: 30px; right: 30px;">HIPAA Audit Log</h1>
      </div>


      <div id="filterRibbon" class="bar header-nav nav-bar-transition-ios nav-bar-direction">
        <input type="text" name="hipaaSearchFilter" id="hipaaSearchFilter" value="{{getHipaaSearchFilter}}" placeholder="Search User">
        <input type="date" id="beginDateInput" class="dateInput" value="{{getBeginDate}}">
        <input type="date" id="endDateInput" class="dateInput" value="{{getEndDate}}">

        <div id="filterButtons">
          <button id="filterCreatedButton" type="button">Created</button>
          <button id="filterModifiedButton" type="button">Modified</button>
          <button id="filterViewedButton" type="button">Viewed</button>
          <button id="filterAllButton" type="button">All</button>
        </div>
      </div>
    </header>


  </template>
